
ul{
	list-style-type:none;
	border: solid 1px black;
	background-color:#dddddd;
	font-family:sans-serif;
	padding:10px;
}
li{
	display:inline;
}



h3{
	display:inline;
	font-size: 24px;
}
.signin{
	float:right;
	margin-top:5px;
}

h1{
	font-size:36px;
	font-weight:bold;
	margin:10px;
}

#wrapper{
	margin:100px auto;
	width:70%;
	font-family:sans-serif;
/*	border: solid 1px black;*/
}

#title{
/*	border: solid 1px black;*/
	display:flex;
	align-items: center;
	justify-content: space-between;
	}

table{
	width:100%;
}

table, th, td {
  border: 1px solid;
  text-align: center;
}

button{
	background-color:blue;
	color: white;
	padding:5px 10px;
	height:30px;
	border:solid 2px blue;

}
@media screen and (max-width:480px){
	#wrapper{
		width:100%;
	}

}