
ul{
	list-style-type:none;
	border: solid 1px black;
	background-color:#dddddd;
	font-family:sans-serif;
	padding:10px;
}
li{
	display:inline;
}



h3{
	display:inline;
	font-size: 24px;
}
.signin{
	float:right;
	margin-top:5px;
}

#login_button{
	color: white;
	text-decoration: none;
	font-style: normal;
}

h1{
	font-size:36px;
	font-weight:bold;
}

#wrapper{
	margin:100px auto;
	width:70%;
	font-family:sans-serif;
}

#splash{
	background-color: #dddddd;
	padding:70px;
}

#splash p{
	margin-top:20px;
	margin-bottom:20px;
}
#card-holder{
	margin:50px 0px;
	display:flex;
	justify-content: space-between;
/*	border: solid 1px black;*/
	width:100%;
}

.card h2{
	font-size:20px;
	margin:10px 0px;
	font-weight: bold;
}
.card{
	width:30%;
/*	border: solid 1px black;*/
}

button{
	background-color:blue;
	color: white;
	padding:5px 10px;
	border:solid 2px blue;
}

@media screen and (max-width:480px){
	#splash{
		padding:10px;
	}
	.card h2{
		font-size:13px;
/*		margin:10px 0px;*/
	}
	.card p{
		font-size:12px;
	}
}