
ul{
	list-style-type:none;
	border: solid 1px black;
	background-color:#dddddd;
	font-family:sans-serif;
	padding:10px;
}
li{
	display:inline;
}



h3{
	display:inline;
	font-size: 24px;
}
.signin{
	float:right;
	margin-top:5px;
}

#wrapper{
	margin:100px auto;
	width:70%;
	font-family:sans-serif;
/*	border: solid 1px black;*/
	overflow:hidden;
}

form{
	float:left;
/*	border: solid 1px black;*/
	width: 40%;
	display:block;
}

input{
	display:block;
	margin:10px;
	width:80%;
}

.reg{
	font-family:sans-serif;
	margin-left:10%;
}

button{
	background-color:blue;
	color: white;
	padding:5px 10px;
	border:solid 2px blue;
}


@media screen and (max-width:480px){
	#wrapper{
		width:100%;
	}
	form{
		width:80%;
	}
	input{
		width: 100%;
	}
}