
ul{
	list-style-type:none;
	border: solid 1px black;
	background-color:#dddddd;
	font-family:sans-serif;
	padding:10px;
}
li{
	display:inline;
}

h3{
	display:inline;
	font-size: 24px;
}
.signin{
	float:right;
	margin-top:5px;
}

h1{
	font-size:36px;
	font-weight:bold;
	margin-bottom: 20px;
}

/*.comment{
	margin-left:100px;
	border:black solid 1px;
	float:right;
}*/
#comment{
	margin-left:100px;
/*	float:right;*/
/*	width:70%;*/
}

#wrapper{
	margin:100px auto;
	width:70%;
	font-family:sans-serif;
/*	border:black solid 1px;*/
}

input{
	width:600px;
/*	border:black solid 1px;*/
}
button{
	background-color:blue;
	color: white;
	padding:5px 10px;
	border:solid 2px blue;
	display:block;
}

form{
/*	border:black solid 1px;*/
}



p{
	margin-bottom: 5px;
}

@media screen and (max-width:750px){
input{
	width:200px;
/*	border:black solid 1px;*/
}
#comment{
	margin-left:0px;
}

}