<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/reset.css">
  <link rel="stylesheet" type="text/css" href="../../static/register.css">
  <title>Home Page</title>
</head>
<body>
  <div>
    <div>
      <ul>
        <li><h3>Test Page</h3></li>
        <li><a href="#">Home</a></li>
        <li class="signin"><a href="/login/">Sign In</a></li>
      </ul>
      <div id="wrapper">
        <form action="/register/" method="post">
          {% csrf_token %}
          <label for="email">Email:</label>
          <input type="email" name="email"/>
          <label for="first_name">First Name:</label>
          <input type="text" name="first_name"/>
          <label for="last_name">Last Name:</label>
          <input type="text" name="last_name"/>
          <label for="pw">Password:</label>
          <input type="password" name="pw"/>
          <label for="pw">Confirm Password:</label>
          <input type="password" name="pw"/>
          <button type="submit">Login</button>
          <a class="reg" href="/register/">Register</a>

        </form>

      </div>
    </div>
  </div>
</body>
</html>