<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/reset.css">
  <link rel="stylesheet" type="text/css" href="../../static/show.css">
  <title>Home Page</title>
</head>
<body>
  <div>
    <div>
      <ul>
        <li><h3>Test Page</h3></li>
        <li><a href="#">Home</a></li>
      </ul>
      <div id="wrapper">
        <div id="user-info">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <p>Registered At: {{user.created_at}}</p>
          <p>User ID: {{user.id}}</p>
          <p>Email: {{user.email}}</p>
          <p>Description: {{user.description}}</p>
        </div>
        <div id="comments">
          <h2>Leave a message for {{user.first_name}}</h2>
          <form action="/add_post/" method="post">
            {% csrf_token %}
            <input type="text" name="post_text"/>
            <button type="submit">Post</button>
          </form>
          {% for p in posts %}
            <p>{{p.user.first_name}} {{p.user.last_name}} wrote:</p>
            <p>{{p.post_text}}</p>
            <p>{{p.created_at}}</p>
            {% for c in p.post_comments.all %}
              <p>{{c.user.first_name}} {{p.user.last_name}} wrote:</p>
              <p>{{c.comment_text}}</p>
              <p>{{c.created_at}}</p>
            {% endfor %}
            <form action="/add_comment/" method="post">
              {% csrf_token %}
              <input type="text" name="comment_text">
              <input type="hidden" name="post_id" value="{{p.id}}">
              <button type="submit">Post</button>
            </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>