#wrapper{
	background-color: grey;
	width: 1000px;
	height: 600px;
	margin:0 auto;
	overflow: auto;
}

#header{
	background-color:green;
	width: 960px;
	height: 120px;
	margin: 20px auto 10px auto;
}
#navigation{
	width: 200px;
	height: 350px;
	background-color: blue;
	margin:10px 10px 10px 20px;
	display: inline-block;
	vertical-align: top;

}

#main_content{
	width: 740px;
	height: 420px;
	background-color:red;
	display:inline-block;
	margin: 10px 0px 0px 10px;
	padding: 10px;
}

.subcontents{
	width:200px;
	height:200px;
	background-color:yellow;
	display:inline-block;
	margin: 0px 10px 0px 0px;
}

#advertisement{
	width: 300px;
	height: 130px;
	background-color: purple;
	vertical-align:bottom;
	display: block;
}
